<h1><%= image_tag current_user.image, class: "img-circle" %>さん、お疲れ様です。</h1>

<% unless @me %>
	<%= form_tag(in_path) do %>
		<%= hidden_field_tag :user_id, current_user.id %>
	  <%= submit_tag 'らぼいん', :class=>'btn btn-primary btn-large' %>
	<% end %>
<% end %>

<% if @me %>
	<%= form_tag(out_path) do %>
		<%= hidden_field_tag :user_id, current_user.id %>
	  <%= submit_tag 'らぼあうと', :class=>'btn btn-danger btn-large' %>
	<% end %>
<% end %>
<hr>
<h2>らぼいんしている学生<%= "はいません..." if @gakuchiku.empty? %></h2>
<% if @gakuchiku %>
	<ul class="unstyled">
		<% @gakuchiku.each do |u| %>
			<li class="span2"><%= link_to(image_tag(u.user.image, size: '128x128',:class => "img-polaroid"), "http://twitter.com/#!/#{u.user.screen_name}") %><div align="center" style="font-size:30px;" id="<%= u.id %>"</div></li>
		<% end %>
	</ul>
<% end %>

<% @gakuchiku.each do |u| %>
	<script type="text/javascript">
		setInterval(function() {
			var now = Date.now();
			var in_time = Date.parse("<%= (u.created_at).strftime('%Y/%m/%d %H:%M:%S') %>");
			var sec = now - in_time;
	    document.getElementById("<%= u.id %>").innerHTML = Math.floor(sec/3600000%60) + ':' + Math.floor(sec/60000%60) + ':' + Math.floor(sec/1000%60) + ':' + Math.floor(sec/100%6);
	    sec += 100;
	  }, 100);
	</script>
<% end %>
