<style type="text/css" media="screen">
ul li p {
	display: inline;
}
.pink {
	background-color: #F2DEDE;
}
</style>

<%= Time.now.strftime('%Y年%m月%d日') %>
<h4><%= image_tag current_user.image, class: "img-circle" %>さん、お疲れ様です。</h4>
<% unless @me %>
	<%= form_tag(in_path) do %>
		<%= hidden_field_tag :user_id, current_user.id %>
	  <%= submit_tag 'らぼいん', :confirm => '投稿してよろしいですか？', :class=>'btn btn-primary btn-large' %>
	<% end %>
<% end %>

<% if @me %>
	<%= form_tag(out_path) do %>
		<%= hidden_field_tag :user_id, current_user.id %>
	  <%= submit_tag 'らぼあうと', :class=>'btn btn-danger btn-large' %>
	<% end %>
<% end %>
<hr>
<h4>らぼいんしている学生（<%= @gakuchiku.size %>人）<%= "はいません..." if @gakuchiku.empty? %></h4>
<% if @gakuchiku %>
	<ul class="thumbnails">
		<% @gakuchiku.each do |u| %>
			<li class="span4 thumbnail <%= "pink" if u == @me %>">
				<%= link_to(image_tag(u.user.image, :class => "img-rounded"), "http://twitter.com/#!/#{u.user.screen_name}",target: "_blank") %>
				<%= u.user.screen_name %>
				<%= link_to simple_format("<i class='icon-thumbs-up'></i>ファイト！"), '#' %>
				<!-- <span class="badge">3</span> -->
				<h3><div id="<%= u.id %>" style="display:inline;"></div></h3>
				<div class="progress progress-striped active">
  				<div class="bar" id="<%= u.id.to_s + 'bar' %>">MAX 8h</div>
				</div>
				<div id="<%= u.id.to_s + 'alert' %>"</div>
			</li>
		<% end %>
	</ul>
<% end %>

<% @gakuchiku.each do |u| %>
	<script type="text/javascript">
	function timer(sec){
		setInterval(function() {
	    document.getElementById("<%= u.id %>").innerHTML = Math.floor(sec/3600000%60) + ':' + Math.floor(sec/60000%60) + ':' + Math.floor(sec/1000%60) + ':' + Math.floor(sec/100%6);
	    sec += 100;
	  }, 100);
	}

	var now = Date.now();
	var in_time = Date.parse("<%= (u.created_at).strftime('%Y/%m/%d %H:%M:%S') %>");
	var sec = now - in_time;
	timer(sec);
	if(sec > 3600000 * 8){ //8h over
		document.getElementById("<%= u.id.to_s + 'alert' %>").innerHTML = "<span class='label label-important'>休みましょう。。。</span>";
		document.getElementById("<%= u.id.to_s + 'bar' %>").style.width = "100%";
	}
	else if(sec > 3600000 * 7){
		document.getElementById("<%= u.id.to_s + 'alert' %>").innerHTML = "<span class='label label-important'>そろそろ帰る準備しましょう！</span>";
		document.getElementById("<%= u.id.to_s + 'bar' %>").style.width = "84%";
	}
	else if(sec > 3600000 * 6){
		document.getElementById("<%= u.id.to_s + 'alert' %>").innerHTML = "<span class='label label-important'>あと少し！</span>";
		document.getElementById("<%= u.id.to_s + 'bar' %>").style.width = "72%";
	}
	else if(sec > 3600000 * 5){
		document.getElementById("<%= u.id.to_s + 'alert' %>").innerHTML = "<span class='label label-important'>眠たくなったら背伸びしましょう！</span>";
		document.getElementById("<%= u.id.to_s + 'bar' %>").style.width = "60%";
	}
	else if(sec > 3600000 * 4){
		document.getElementById("<%= u.id.to_s + 'alert' %>").innerHTML = "<span class='label label-important'>もう半分過ぎましたよ？</span>";
		document.getElementById("<%= u.id.to_s + 'bar' %>").style.width = "48%";
	}
	else if(sec > 3600000 * 3){
		document.getElementById("<%= u.id.to_s + 'alert' %>").innerHTML = "<span class='label label-important'>そろそろお昼？かも</span>";
		document.getElementById("<%= u.id.to_s + 'bar' %>").style.width = "36%";
	}
	else if(sec > 3600000 * 2){
		document.getElementById("<%= u.id.to_s + 'alert' %>").innerHTML = "<span class='label label-important'>へい！</span>";
		document.getElementById("<%= u.id.to_s + 'bar' %>").style.width = "24%";
	}
	else{
		document.getElementById("<%= u.id.to_s + 'alert' %>").innerHTML = "<span class='label label-success'>頑張りましょう！</span>";
		document.getElementById("<%= u.id.to_s + 'bar' %>").style.width = "12%";
	}
	</script>
<% end %>



