<h2><%= image_tag current_user.image, class: "img-circle" %>さん、お疲れ様です。</h2>

<% unless @me %>
	<%= render 'in' %>
<% end %>

<% if @me %>
	<%= render 'out' %>
<% end %>
<hr>
<h3>らぼいんしている学生(<%= @gakuchiku.size %>人)<%= "はいません..." if @gakuchiku.empty? %></h3>
<% if @gakuchiku %>
	<table class="table table-striped">
		<% @gakuchiku.each do |u| %>
		<tr>
			<th>Name</th>
			<th>Time</th>
			<th>Actions</th>
			<th></th>
		<tr>
			<td>
				<%= link_to(image_tag(u.user.image, size: '64x64',:class => "img-polaroid"), "http://twitter.com/#!/#{u.user.screen_name}") %><br>
				<%= u.user.name %>
			</td>
			<td>
				<div style="font-size:32px;" id="<%= u.id %>"</div>
			</td>
			<td>
				<%= link_to simple_format("Fight <i class='icon-thumbs-up'></i>"), social_feature.likes_path(like: { work_id: u.id }), method: 'post', class: "btn"%>
			</td>
		</tr>
		<% end %>
	</table>
<% end %>

<% @gakuchiku.each do |u| %>
	<script type="text/javascript">
		setInterval(function() {
			var now = Date.now();
			var in_time = Date.parse("<%= (u.created_at).strftime('%Y/%m/%d %H:%M:%S') %>");
			var sec = now - in_time;
	    document.getElementById("<%= u.id %>").innerHTML = Math.floor(sec/3600000%60) + ':' + Math.floor(sec/60000%60) + ':' + Math.floor(sec/1000%60) + ':' + Math.floor(sec/100%6);
	    sec += 100;
	  }, 100);
	</script>
<% end %>
